@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

#mdx-content {
  font-size: 1.125rem;
}

#mdx-content a {
  color: var(--primary-main);
  text-decoration: none;
}

#mdx-content > h1,
#mdx-content > h2,
#mdx-content > h3,
#mdx-content > h4,
#mdx-content > h5,
#mdx-content > h6 {
  cursor: pointer;
}

#mdx-content > h1 > a,
#mdx-content > h2 > a,
#mdx-content > h3 > a,
#mdx-content > h4 > a,
#mdx-content > h5 > a,
#mdx-content > h6 > a {
  color: inherit;
}

#mdx-content > *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) a:hover {
  text-decoration: underline;
}

#mdx-content > h1 {
  font-size: 2.625rem;
}

#mdx-content > h2 {
  font-size: 2.125rem;
}

#mdx-content > h3 {
  font-size: 1.625rem;
}

#mdx-content > h4 {
  font-size: 1.5rem;
}

#mdx-content > h5 {
  font-size: 1.375rem;
}

#mdx-content > h6 {
  font-size: 1.25rem;
}

#mdx-content > h1:hover::after,
#mdx-content > h2:hover::after,
#mdx-content > h3:hover::after,
#mdx-content > h4:hover::after,
#mdx-content > h5:hover::after,
#mdx-content > h6:hover::after {
  color: var(--primary-main);
  content: "#";
  margin-left: 0.4rem;
}

#mdx-content > p {
  letter-spacing: 0.01rem;
  line-height: 1.75rem;
}

#mdx-content > p > img {
  display: block;
  margin: 0 auto;
}

#mdx-content > blockquote {
  background-color: var(--divider);
  border-left: var(--primary-main) solid 6px;
  margin-left: 4px;
  padding-left: 16px;
}

#mdx-content code {
  font-family: "Source Code Pro", "Roboto Mono", monospace;
}

#mdx-content > p > code {
  background-color: var(--divider);
  border-radius: 0.4rem;
  color: var(--primary-main);
  font-size: 1.04rem;
  padding: 0 0.4rem;
}

#mdx-content > pre > code {
  font-size: 1rem;
}
